
body {
  background-color: #f5f7dc;
}

.wrapper {
  margin-left: 15%;
  margin-right: 15%;
}

.container-index {
  background-image: url('../images/artboard1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.bio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: white;
  padding: .75rem;
  box-shadow: 5px 5px 5px grey;
}

.big-picture, .small-picture {
  padding-top: 1.5rem;
}

.copy {text-align: justify;}

.big-picture {
  padding-right: .5rem;
}

.header-btn {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  padding-bottom: 5rem;
  padding-top: 2rem;
  text-shadow:  5px 5px 5px grey;
}

.header-btn h2 {
  padding-bottom: 0;
}

.header-btn a {
  color: black;
  display: block;
  text-decoration: none;
  background-color:#EBC52C;
  padding: .5rem;
}

.header-btn a:hover {
  background-color: #CAA71D;
}

.favorites {
  padding-top: 3rem;
}

.favorites-pics {
  display: flex;
  justify-content: center;
}

div {
  padding-left: .5rem;
  padding-right: .5rem;
}

div h5 {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 992px){
  .header-btn p {
    color: black;
  }

  .big-picture{
    display:none;
  }

  .bio {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
}
