/*
  Name: Final Project
  Developer: Kathryn and Katelyn
  Date: 04/15/20
  Description: Here goes a description
*/


@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Montserrat:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("grid.css");
@import url("index.css");
@import url("master.css");
@import url("typography.css");

/*Navigation*/

body{
  margin:0;
}

#mainNavigation{
  background-color: #4D5057;
  padding: 1em 0;
}

#mainNavigation ul{
  list-style-type: none;
  margin:0;

  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
  -webkit-justify-content:center;
}

#mainNavigation ul a{
  text-decoration: none;
  color: #F5F7DC;
  padding: 3em;
}

#mainNavigation ul a:hover{
  color: #DB4C40;
}

#mainNavigation li{

}

@media only screen and (min-width: 769px){
  .responsive-nav{
    display:none;
  }
}

@media only screen and (max-width: 768px){
  .responsive-nav{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    background-color: #4D5057;
  }
  .navbar-collapse{
    display: none;
  }
}



/**ORIGINALLY FROM MASTER CSS**/
body{
  background-color: #FDFFED;
}

.resHalf{
  width:80%;
}

.resThird{
  width: 100%;
}

.flexThird{
  width: 33%;
}
.flexSmallThird{
  width:17%;
}

.resFlexGroup{
  width: 50%;
}

.resTitle{
  display:block;
}

#yesAccess{
  display: none;
}

.resNames, .resRow{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
}

.resWrap{
  line-height: 1.5em;
  color:#4D5057;
}

div{
  padding-bottom:0.5em;
}

main p{
  text-align: center;
  color: #DB4C40;
}

input {
  height: 30px;
}

select{
  height:30px;
}


/*form styles*/

.resEmphasis{
  color: #DB4C40;
}

#resCode{
  color: #DB4C40;
  font-size: 150%;
}

.submit-button{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;

}

.submit-btn{
  background-color:#DB4C40;
  color:white;
  border:#DB4C40;
}
