/*
  Name: Final Project
  Developer: Kathryn and Katelyn
  Date: 04/15/20
  Description: Here goes a description
*/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("grid.css");
@import url("index.css");
@import url("master.css");
@import url("typography.css");
@import url("footer.css");

/*Navigation*/

body{
  margin:0;
}

#mainNavigation{
  padding: 0;
}

.navbar{
  margin:0;
  padding: 0;
}

.nav{
  padding:0;
}

.nav-top p{
  color: white;
  font-size: 1.5em;
}

      .navigation{
        color: white;
        padding: 0;
        margin: 0;
      }
      .nav-top{
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        align-content: space-between;
        -webkit-align-content: space-between;

        background-color: #DB4C40;
        padding: 1em; 0;
      }

      .nav-bottom{
        padding: 0;
      }

      .nav-bottom ul{
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        align-content: space-between;
        -webkit-align-content: space-between;
        padding: 0 15%;
        margin: 0;

        list-style-type: none;
        background-color: #CF4336;
      }


      .nav-bottom li{
        list-style-type: none;
        padding: 1em 1em;
      }

      .nav-bottom a{
        padding: 1em 2em;
        text-decoration: none;
        color: white;
      }
      .nav-bottom a:hover{
        background-color: white;
        color: #CF4336;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

    /*  .nav-bottom li:hover{
        background-color: white;
        color: #CF4336;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }*/


/*#mainNavigation{
  background-color: #4D5057;
  padding: 1em 0;
}


#mainNavigation ul a{
  text-decoration: none;
  color: #F5F7DC;
  padding: 3em;
}

#mainNavigation ul a:hover{
  color: #DB4C40;
}*/


/*.navbar{
  position: fixed;
	top: 0;
	left: 0;
  z-index: 9999;
	width: 100%;
	height: 50px;
}*/

.navbar .navbar-brand {
  display: block;
  overflow: hidden;
  background: url('../images/Spaghetti.svg') no-repeat 0 0/contain transparent;
  width: 50px;
  height: 40px;
  text-indent: -99999px;}

  .navbar .navbar-shop {
    display: block;
    overflow: hidden;
    background: url('../images/shop.png') no-repeat 0 0/contain transparent;
    width: 50px;
    height: 40px;
    text-indent: -99999px;
    border: none;
  }

  .nav-top h3{
    margin:0;
  }


@media only screen and (min-width: 769px){
  .responsive-nav{
    display:none;
  }

  #mainNavigation ul{
    list-style-type: none;
    margin:0;

    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: center;
    -webkit-justify-content:center;
  }

  .resWrap{
    margin-left: 15%;
    margin-right: 15%;
  }
  .resNames, .resRow{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
  }

  .resHalf{
    width:80%;
  }

  .resThird{
    width: 100%;
  }

  .flexThird{
    width: 33%;
  }
  .flexSmallThird{
    width:17%;
  }

  .resFlexGroup{
    width: 50%;
  }
}

@media only screen and (max-width: 768px){
  .responsive-nav{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: space-between;
    -webkit-align-content: space-between;
    -webkit-align-items: space-between;
    align-content: space-between;


  }

  a.navbar-brand{
    width:3em;
    height:3em;
  }

  .navbar-nav{
    margin:0;
    padding:0;
  }

  .navbar-toggler{
    background-color: transparent;
    border-color: transparent;
    color:#DB4C40;
    width: 3rem;
    height: 3rem;
  }

  .navbar-collapse{
    display: none;
  }

  #mainnavigation ul{
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;

  }

  #mainNavigation li{
  list-style-type: none;
  text-align: left;
  padding-bottom:1em;
  }

  .resNames, .resRow, .resWrap{
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    margin-left: 5%;
    margin-right:5%;
  }
  .resHalf, .flexThird, .flexSmallThird, .resFlexGroup {
    width:100%;
  }


}



/**ORIGINALLY FROM MASTER CSS**/


.resTitle{
  display:block;
}

#yesAccess{
  display: none;
}


.resWrap{
  line-height: 1.5em;
  color:#4D5057;
}

div{
  padding-bottom:0.5em;
}

main p{
  text-align: center;
  color: #DB4C40;
}

input {
  height: 30px;
}

select{
  height:30px;
}


/*form styles*/

.resEmphasis{
  color: #DB4C40;
}

#resCode{
  color: #DB4C40;
  font-size: 150%;
}

.submit-button{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;

}

.submit-btn{
  background-color: #CF4336;
  color: white;
  border: none;
  border-radius: 4px;
  }
}

select{
  border:1px solid #BBBBBB;
}

input[type=text]{
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: none;
        border-bottom: 1px solid #BBBBBB;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

      input[type=text]:focus{
        border: none;
        border-bottom: 1px solid black;
      }

/* menu page */
.minicontainer{
  background-color: white;
  border-radius: 20px;
}

.menurow h2{
  text-align: center;
  width: 100%;
  margin-top: none;
}

.menurow, .responsiveMenu{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  align-content: space-between;
  -webkit-align-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  padding-bottom:2em;

}

.lastrow, .responsiveMenuLast{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  align-content: space-around;
  -webkit-align-content: space-around;
  width: 100%;

}

.item img{
  border-radius: 15px;
  margin-top: 3%;
  width: 100%;
}

.item{
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  border-radius: 15px;
  background-color: white;
  width: 35%;
  margin:2%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}

.item h4{
  width: 95%;
}
.item p{
  margin-bottom: 0;
  width: 95%;
}

.item .cost{
  margin:0;
}

.item .benefits{
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.menuSubmitContainer{
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  width: 100%;
  margin: 10% 0 2% 0;
}

.addCart{
  background-color: #CF4336;
  color: white;
  border: 1px solid #CF4336;
  border-radius: 4px;
  padding:0.5em;
}

.addCart:hover{
  color:#CF4336;
  background-color:white ;
  border: 1px solid #CF4336;
}

.mealcontainer{
  padding-top: 1em;
}

@media (min-width:1000px) {
  .item{
    width: 33%;
  }
  .wrapper{
    margin: 0 10%;
  }
}

@media(max-width: 999px){
  .menurow, .responsiveMenu{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    align-content: space-around;
    -webkit-align-content: space-around;
    width: 100%;
    margin-bottom: 5%;
  }

  .wrapper{
    margin: 0 5%;
  }

  @media (max-width: 535px) {
    .menurow, .responsiveMenu, .responsiveMenuLast{
      display: flex;
      display: -webkit-flex;
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      align-content: space-around;
      -webkit-align-content: space-around;
      margin: 0;
      width: 100%;
    }

    .item{
      margin: 2% 0;
    }

    .item img{
      border-radius: 15px;
      margin-top: 3%;
    }
  }

}

/* Styles for menu*/

.dropdown>.nav-link.closed {
	background-image: url(../images/arrowdown.png);
}

 .dropdown>.nav-link:after {
	background-image: url(../images/arrowup.png);
}

.menu-header-btn {
  padding-bottom: 5rem;
}

.menu-main {
  display: flex;
  flex-flow: row nowrap;
}

.small-nav {
  justify-content: flex-start;
  padding-right:3rem;
}

.menu-items {
  justify-content: flex-end;
}

.small-nav ul {
list-style-type: none;
font-family: 'Muli', 'Arial', sans-serif !important;
font-size: 1.25rem;
font-style: bold;
padding: 0;
}

.menurow h2 {
  background-color: #CF4336;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.small-nav a {
  color: black;
  text-decoration: none;
  padding: .25rem;
}

.small-nav li:hover {
  background-color: rgba(207, 67, 54, 0.5);
}

.small-nav li {
  display: block;
  overflow: hidden;
  padding: .25rem;
  border: solid 1.5px darkgrey;
  text-align: center;
}

.small-nav-dropdown ul{
  padding: 0;
}

.small-nav-dropdown li {
  background-color: lightgrey;
  font-size: .95rem !important;
}

.top-scroll a {
  color: black;
  text-decoration: none;
}

.top-scrollCon {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.top-scroll {
  background-color: lightgrey;
  width: 15%;
}

/* contact page starts here */

.contact-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.map {
  padding-top: 3rem;
  padding-left: 2rem;
}

@media (max-width: 768px){
  .map {
    display: none;
  }
}
